* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(26, 206, 246) 0%, rgb(17, 91, 121) 100%);
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

#container {
    color: black;
    background-color: #fff;
    /* max-width: 720px; */
    width: 385.97px;
    max-height: 615px ;
    padding: 40px;
    border-radius: 10px;
    margin: 30px auto 0;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#container h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

#container section.viewTableIMC {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px;
}
#container section.viewTableIMC .text ul {
    list-style: none;
}
#container section.viewTableIMC .text ul li {
    margin: 10px 0 0;
}

/* form */
form {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
form label span {
    font-size: 11px;
    font-weight: bold;
    color: #535353;
}

/* button effects */
form button {
    margin-top: 10px;
    font-size: 18px;
    padding: 15px 40px;
    border: none;
    border-radius: 6px;
    background-color: #1acef6;
    font-weight: bolder;
    color: white;
}
form button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #00b1dc;
}

/* result */
.writeIMC{
    margin: 0 auto ;
}
p {
    margin-top: 14px;

    text-align: justify;
    font-size: 18px;
    font-weight: bold;

}
.result {
    color: #13ff0f;
}
.result-bad {
    color: red;
}

footer {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px 10px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    transition: 200ms;
    color: #d4d4d4;
}

/* inputs effects */
input {
    padding: 20px 10px;
    display: block;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #b2b1b161;
}
input::placeholder {
    color: rgb(62, 62, 62);
}
input:focus {
    /* Um contorno é uma linha que é desenhada em torno de elementos, FORA das fronteiras, para fazer o elemento "se destacar".
    (Um contorno é uma linha desenhada fora da borda do elemento.)
 */
    outline:2px solid #12b9df;


}
